<VirtualHost *:80>
    ServerName www.nordensuites.com
    ServerAlias nordensuites.com
    ServerAdmin webmaster@nordensuites.com

    ProxyPreserveHost On
    ProxyPass / http://localhost:80/
    ProxyPassReverse / http://localhost:80/

    ErrorLog ${APACHE_LOG_DIR}/norden-error.log
    CustomLog ${APACHE_LOG_DIR}/norden-access.log combined
</VirtualHost>
