services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8542:8542"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:8569/backend/api
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8569:80"
    volumes:
      - ./backend:/var/www/html/backend
    environment:
      - DB_HOST=db
      - DB_NAME=nordic_db
      - DB_USER=root
      - DB_PASS=root_password
      - DB_PORT=3306
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: nordic_db
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
